.body
  .resume
    .left
      img.img(src="https://i.imgur.com/0SLhSNW.jpg", alt="")
      h1 吳偉同
      h5 Wu wei tong 
    .right
      p 第一次設計網頁，是在大學2年級的課程是網頁設計，<br>第一次設計時覺得網頁設計很有趣，在大學專題中也是在製作網頁的畫面設計，<br>在大學畢業後參加多媒體網頁設計班的課程，<br>並開啟網頁設計與前端工程師之路。
      .line
        a(href="https://codepen.io/wert2008/") 作品集
        a(href="https://github.com/fghj2008") github
        a(href="https://www.facebook.com/profile.php?id=100003731786174") facebook
        a(href="") 平面設計

  hr.hr
  h2 專業技能
    h4 Skills
  ul.listSkill
      li 前端開發
        .circle
          .p90
          .p180
      li 介面/網頁設計 (UI/UX)
        .circle
          .p90
          .p180
          .p270
      li 平面設計
        .circle
          .p90
          .p180
          .p270
      li 專案管理
        .circle
          .p90
          .p180
      li 網站建置
        .circle
          .p90
          .p180
          .p270


  h2 程式技能
    h4 Programming Skill
  ul.listProgram
      li html/pug
        .bar
          .value.p901
      li css/sass
        .bar
          .value.p80
      li Bootstrap
        .bar
          .value.p70
      li JQuery
        .bar
          .value.p50
      li javascript
        .bar
          .value.p40
      li Vue.js
        .bar
          .value.p50
      li React.js
        .bar
          .value.p20
      li Wordpress
        .bar
          .value.p70



  h2 學歷/經歷與證照
    h4 Experience/Education
  h3 學歷
    ul.Education
      li 高中:達德高級職業學校(資訊科)
      li 大學:建國科技大學(資訊管理系)
    h3 經歷與證照
    ul.Experience
      li.year 2013
        ul
          li 紡織工廠(工讀生)
          li 硬體裝修(丙級)
          li 工業電子(丙級)
      li.year 2015
        ul
          li 建國科技大學(推廣中心-學校工讀)
          li 微軟證照(丙級)
      li.year 2016
        ul
          li 十醬餐廳(工讀生)
          li ERP規劃師(乙級)
      li.year 2017
        ul
          li 業成資訊(多媒體網頁設計班)
      li.year 2018
        ul
          li 大苑子總公司(資訊中心)
          li 參加Hahow線上課程
          li 參加YOTTA線上課程
      li.year 2019-2022
        ul
          li 弘光科技大學(圖書資訊處)-至今
          li 參加Hiskio線上課程
          li 大林蒲網頁製作(工程師)
  h2 作品
    h4 words
    h3 網頁設計
    .words.line
      a(href="https://fghj2008.github.io/") 彰化尋訪
      a(href="https://dalinpo.github.io/dalinpo/index.html") 大林浦
      a(href="https://dl.hk.edu.tw/hkweb/CIS/CIS.html") CIS企業識別系統
    h3 網站建置
    .words.line
      a(href="https://www.hk.edu.tw/") 校首頁
      a(href="https://www.hk.edu.tw/%e8%a1%8c%e6%94%bf%e5%96%ae%e4%bd%8d/") 行政單位
      a(href="https://www.hk.edu.tw/%e6%95%99%e5%ad%b8%e5%96%ae%e4%bd%8d/") 教學單位
      a(href="http://convid-19.hk.edu.tw/") 防疫專區
    h3 平面設計-UX/UI
    h3 LOGO設計
    .words.slick
      img(src="https://i.imgur.com/JXaBOJF.jpg", alt="")
      img(src="https://i.imgur.com/sY5q1re.jpg", alt="")
      img(src="https://i.imgur.com/yYQzW3T.jpg", alt="")
      img(src="https://i.imgur.com/oivaEiT.jpg", alt="")
      img(src="https://i.imgur.com/i7CkcTx.jpg", alt="")
      img(src="https://i.imgur.com/fSSCjWi.jpg", alt="")
    h3 海報設計
    .words.poster
      img(src="https://i.imgur.com/vM6f2Ca.jpg", alt="")
      img(src="https://i.imgur.com/PMo46N3.jpg", alt="")
      img(src="https://i.imgur.com/5793Mek.jpg", alt="")
      
   
  